<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.dao.CheckDetailDao">

    <resultMap id="checkDetailMap" type="cn.stylefeng.guns.modular.entity.CheckDetail">
        <result property="id" column="id"/>
        <result property="fileBatchId" column="file_batch_id"/>
        <result property="merchantNo" column="merchant_no"/>
        <result property="terminal" column="terminal"/>
        <result property="clearDate" column="clear_date"/>
        <result property="tradeDate" column="trade_date"/>
        <result property="tradeCardNo" column="trade_card_no"/>
        <result property="indexNo" column="index_no"/>
        <result property="tradeChannel" column="trade_channel"/>
        <result property="tradeAmount" column="trade_amount"/>
        <result property="discountAmount" column="discount_amount"/>
        <result property="realAmount" column="real_amount"/>
        <result property="tradeType" column="trade_type"/>
        <result property="checkStatus" column="check_status"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id , file_batch_id, merchant_no ,terminal ,clear_date ,trade_date ,trade_card_no ,index_no ,trade_channel ,trade_amount ,discount_amount ,real_amount ,trade_type, check_status
	    ]]>
	</sql>
	<!---->
    <!--<insert id="insert" parameterType="cn.stylefeng.guns.modular.entity.CheckDetail">-->
    	<!--<selectKey resultType="long" keyProperty="id" >-->
            <!--select last_insert_id()-->
        <!--</selectKey>-->
        <!--INSERT INTO check_detail (-->
            <!--file_batch_id,-->
        	<!--merchant_no,-->
        	<!--terminal,-->
        	<!--clear_date,-->
        	<!--trade_date,-->
        	<!--trade_card_no,-->
        	<!--index_no,-->
        	<!--trade_channel,-->
        	<!--trade_amount,-->
        	<!--discount_amount,-->
        	<!--real_amount,-->
        	<!--trade_type,-->
        	<!--product_info,-->
        	<!--bak1,-->
        	<!--bak2,-->
        	<!--bak3,-->
        	<!--bak4,-->
        	<!--bak5,-->
        	<!--bak6,-->
        	<!--bak7,-->
        	<!--bak8-->
        <!--) VALUES (-->
            <!--#{fileBatchId},-->
        	<!--#{merchantNo},-->
        	<!--#{terminal},-->
        	<!--#{clearDate},-->
        	<!--#{tradeDate},-->
        	<!--#{tradeCardNo},-->
        	<!--#{indexNo},-->
        	<!--#{tradeChannel},-->
        	<!--#{tradeAmount},-->
        	<!--#{discountAmount},-->
        	<!--#{realAmount},-->
        	<!--#{tradeType},-->
        	<!--#{productInfo},-->
        	<!--#{bak1},-->
        	<!--#{bak2},-->
        	<!--#{bak3},-->
        	<!--#{bak4},-->
        	<!--#{bak5},-->
        	<!--#{bak6},-->
        	<!--#{bak7},-->
        	<!--#{bak8}-->
        <!--)-->
        <!---->
    <!--</insert>-->

	<insert id="insertBatch" parameterType="java.util.List">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into check_detail (file_batch_id, merchant_no,terminal,
        clear_date,trade_date,trade_card_no,
        index_no,trade_channel, trade_amount,
        discount_amount, real_amount, trade_type,
        check_status)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
            #{item.fileBatchId,jdbcType=VARCHAR},
			#{item.merchantNo,jdbcType=VARCHAR},
			#{item.terminal,jdbcType=VARCHAR},
			#{item.clearDate,jdbcType=VARCHAR},
			#{item.tradeDate,jdbcType=VARCHAR},
			#{item.tradeCardNo,jdbcType=VARCHAR},
			#{item.indexNo,jdbcType=VARCHAR},
			#{item.tradeChannel,jdbcType=VARCHAR},
			#{item.tradeAmount,jdbcType=DECIMAL},
			#{item.discountAmount,jdbcType=DECIMAL},
			#{item.realAmount,jdbcType=DECIMAL},
			#{item.tradeType,jdbcType=VARCHAR},
			#{item.checkStatus,jdbcType=INTEGER}
			)
		</foreach>
	</insert>

	<!--<update id="update"  parameterType="cn.stylefeng.guns.modular.entity.BusinessDetail">-->
        <!--UPDATE check_detail <trim prefix="SET" suffixOverrides=",">  -->
	        <!--<if test="merchantNo != null "> merchant_no = #{merchantNo} ,</if>-->
	        <!--<if test="terminal != null "> terminal = #{terminal} ,</if>-->
	        <!--<if test="clearDate != null "> clear_date = #{clearDate} ,</if>-->
	        <!--<if test="tradeDate != null "> trade_date = #{tradeDate} ,</if>-->
	        <!--<if test="tradeCardNo != null "> trade_card_no = #{tradeCardNo} ,</if>-->
	        <!--<if test="indexNo != null "> index_no = #{indexNo} ,</if>-->
	        <!--<if test="tradeChannel != null "> trade_channel = #{tradeChannel} ,</if>-->
	        <!--<if test="tradeAmount != null "> trade_amount = #{tradeAmount} ,</if>-->
	        <!--<if test="discountAmount != null "> discount_amount = #{discountAmount} ,</if>-->
	        <!--<if test="realAmount != null "> real_amount = #{realAmount} ,</if>-->
	        <!--<if test="tradeType != null "> trade_type = #{tradeType} ,</if>-->
	        <!--<if test="productInfo != null "> product_info = #{productInfo} ,</if>-->
	        <!--<if test="bak1 != null "> bak1 = #{bak1} ,</if>-->
	        <!--<if test="bak2 != null "> bak2 = #{bak2} ,</if>-->
	        <!--<if test="bak3 != null "> bak3 = #{bak3} ,</if>-->
	        <!--<if test="bak4 != null "> bak4 = #{bak4} ,</if>-->
	        <!--<if test="bak5 != null "> bak5 = #{bak5} ,</if>-->
	        <!--<if test="bak6 != null "> bak6 = #{bak6} ,</if>-->
	        <!--<if test="bak7 != null "> bak7 = #{bak7} ,</if>-->
	        <!--<if test="bak8 != null "> bak8 = #{bak8} </if>-->
	        <!--</trim>-->
        <!--WHERE -->
	        <!--id = #{id} -->
    <!--</update>-->

    <!--<delete id="delete">-->
        <!--DELETE FROM check_detail WHERE-->
        <!--id = #{id} -->
    <!--</delete>-->
    <!---->
    <!--<select id="getById" parameterType="long" resultMap="checkDetailMap">-->
	    <!--SELECT <include refid="columns"/> FROM check_detail  WHERE -->
        <!--id = #{id} -->
    <!--</select>-->

    <!--根据批量号获取业务数据-->
    <select id="listCheckDetail" resultType="cn.stylefeng.guns.modular.entity.CheckDetail">
        SELECT<include refid="columns"/> FROM check_detail  WHERE
        file_batch_id = #{fileBatchId}
    </select>

    <!--对账结果页根据条件查询 -->
    <select id="listCheckDetailByCondition" resultMap="checkDetailMap" resultType="map">
        SELECT <include refid="columns"/> FROM check_detail
        <where>
          <if test="merchantNo != null and merchantNo !='' ">
           and merchant_no = #{merchantNo}
          </if>
          <if test="clearDate != null and clearDate !='' ">
           and clear_date = #{clearDate}
          </if>
          <if test="indexNo != null and indexNo !='' ">
           and index_no = #{indexNo}
          </if>
          <if test="tradeChannel != null and tradeChannel !='' ">
           and trade_channel = #{tradeChannel}
          </if>
          <if test="checkStatus != null ">
           and check_status = #{checkStatus}
          </if>
        </where>
    </select>

    <select id="getSumTradeAmount" resultType="java.util.Map">
        SELECT sum(trade_amount) as sumTradeAmount ,count(*) as countTrade FROM check_detail
        <where>
            <if test="merchantNo != null and merchantNo !='' ">
                and merchant_no = #{merchantNo}
            </if>
            <if test="clearDate != null and clearDate !='' ">
                and clear_date = #{clearDate}
            </if>
            <if test="indexNo != null and indexNo !='' ">
                and index_no = #{indexNo}
            </if>
            <if test="tradeChannel != null and tradeChannel !='' ">
                and trade_channel = #{tradeChannel}
            </if>
            <if test="checkStatus != null ">
                and check_status = #{checkStatus}
            </if>
        </where>
    </select>

    <!--<select id="query" resultMap="checkDetailMap">-->
	    <!--SELECT <include refid="columns"/> FROM check_detail -->
	    <!--<trim prefix="WHERE" prefixOverrides="AND |OR ">-->
	        <!--<if test="vo.id != null ">AND id = #{vo.id} </if>-->
	        <!--<if test="vo.merchantNo != null and vo.merchantNo != '' ">AND merchant_no = #{vo.merchantNo} </if>-->
	        <!--<if test="vo.terminal != null and vo.terminal != '' ">AND terminal = #{vo.terminal} </if>-->
	        <!--<if test="vo.clearDate != null and vo.clearDate != '' ">AND clear_date = #{vo.clearDate} </if>-->
	        <!--<if test="vo.tradeDate != null and vo.tradeDate != '' ">AND trade_date = #{vo.tradeDate} </if>-->
	        <!--<if test="vo.tradeCardNo != null and vo.tradeCardNo != '' ">AND trade_card_no = #{vo.tradeCardNo} </if>-->
	        <!--<if test="vo.indexNo != null and vo.indexNo != '' ">AND index_no = #{vo.indexNo} </if>-->
	        <!--<if test="vo.tradeChannel != null and vo.tradeChannel != '' ">AND trade_channel = #{vo.tradeChannel} </if>-->
	        <!--<if test="vo.tradeAmount != null ">AND trade_amount = #{vo.tradeAmount} </if>-->
	        <!--<if test="vo.discountAmount != null ">AND discount_amount = #{vo.discountAmount} </if>-->
	        <!--<if test="vo.realAmount != null ">AND real_amount = #{vo.realAmount} </if>-->
	        <!--<if test="vo.tradeType != null and vo.tradeType != '' ">AND trade_type = #{vo.tradeType} </if>-->
	        <!--<if test="vo.productInfo != null and vo.productInfo != '' ">AND product_info = #{vo.productInfo} </if>-->
	        <!--<if test="vo.bak1 != null and vo.bak1 != '' ">AND bak1 = #{vo.bak1} </if>-->
	        <!--<if test="vo.bak2 != null and vo.bak2 != '' ">AND bak2 = #{vo.bak2} </if>-->
	        <!--<if test="vo.bak3 != null and vo.bak3 != '' ">AND bak3 = #{vo.bak3} </if>-->
	        <!--<if test="vo.bak4 != null and vo.bak4 != '' ">AND bak4 = #{vo.bak4} </if>-->
	        <!--<if test="vo.bak5 != null and vo.bak5 != '' ">AND bak5 = #{vo.bak5} </if>-->
	        <!--<if test="vo.bak6 != null and vo.bak6 != '' ">AND bak6 = #{vo.bak6} </if>-->
	        <!--<if test="vo.bak7 != null and vo.bak7 != '' ">AND bak7 = #{vo.bak7} </if>-->
	        <!--<if test="vo.bak8 != null and vo.bak8 != '' ">AND bak8 = #{vo.bak8} </if>-->
	     <!--</trim>-->
	     <!--<if test="customSort != null and customSort!='' ">ORDER BY ${customSort}</if>-->
    <!--</select>-->


</mapper>

